absl-py
adapter-transformers==3.1.0
aiohttp
aiosignal
async-timeout
asynctest==0.13.0
attrs
backcall==0.2.0
blinker
blis==0.7.9
boto3==1.20.31
botocore==1.23.31
brotlipy
cachetools
catalogue==2.0.8
certifi==2022.9.24
cffi
charset-normalizer
click
clip==1.0
confection==0.0.4
cryptography
cycler==0.11.0
cymem==2.0.7
dataclasses==0.8
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
filelock==3.8.1
fonttools==4.33.3
frozenlist
ftfy==6.1.1
future==0.18.2
google-auth
google-auth-oauthlib
grpcio
huggingface-hub==0.11.1
idna
imageio==2.9.0
importlib-metadata
ipykernel==6.16.2
ipython==7.34.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
jupyter-client==7.4.7
jupyter-core==4.11.2
kiwisolver==1.4.2
langcodes==3.3.0
lvis==0.5.3
Markdown
MarkupSafe
matplotlib==3.5.2
matplotlib-inline==0.1.6
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
multidict
MultiScaleDeformableAttention==1.0
murmurhash==1.0.9
nest-asyncio==1.5.6
nltk==3.6.2
numpy
oauthlib
opencv-python==4.5.3.56
packaging==21.3
palettable==3.3.0
pandas==1.3.4
parso==0.8.3
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
preshed==3.0.8
prompt-toolkit==3.0.33
protobuf==3.17.3
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycocotools==2.0.4
pycparser
pydantic==1.10.4
Pygments==2.13.0
PyJWT
pyOpenSSL
pyparsing==3.0.8
PySocks
python-dateutil==2.8.2
pytz==2021.3
pyu2f
PyYAML==6.0
pyzmq==24.0.1
regex==2022.7.9
requests
requests-oauthlib
rsa
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0.2
scipy==1.7.1
seaborn==0.12.1
sentencepiece==0.1.96
six
smart-open==6.3.0
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.5
tensorboard
tensorboard-data-server
tensorboard-logger==0.1.0
tensorboard-plugin-wit
thinc==8.1.7
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.7.1
torch-tb-profiler==0.4.0
torchaudio==0.7.0a0+a853dff
torchtext==0.8.0
torchvision
tornado==6.2
tqdm==4.62.1
traitlets==5.5.0
transformers==4.25.1
typer==0.7.0
typing-extensions==4.4.0
urllib3
wasabi==1.1.1
wcwidth==0.2.5
Werkzeug
yarl
zipp
