absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1665754496418/work
adapter-transformers==3.1.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1649013150570/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
asynctest==0.13.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
backcall==0.2.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1664823096650/work
blis==0.7.9
boto3==1.20.31
botocore==1.23.31
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854164153/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1660055382950/work
catalogue==2.0.8
certifi==2022.9.24
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215140632/work
clip==1.0
confection==0.0.4
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1637687023717/work
cycler==0.11.0
cymem==2.0.7
dataclasses==0.8
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
filelock==3.8.1
fonttools==4.33.3
frozenlist @ file:///tmp/build/80754af9/frozenlist_1637767116045/work
ftfy==6.1.1
future==0.18.2
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1668389748046/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
grpcio @ file:///tmp/build/80754af9/grpcio_1637578017926/work
huggingface-hub==0.11.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.9.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252814274/work
ipykernel==6.16.2
ipython==7.34.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
jupyter-client==7.4.7
jupyter-core==4.11.2
kiwisolver==1.4.2
langcodes==3.3.0
lvis==0.5.3
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1657921053229/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737551960/work
matplotlib==3.5.2
matplotlib-inline==0.1.6
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1648882415996/work
MultiScaleDeformableAttention==1.0
murmurhash==1.0.9
nest-asyncio==1.5.6
nltk==3.6.2
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1651563629415/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
opencv-python==4.5.3.56
packaging==21.3
palettable==3.3.0
pandas==1.3.4
parso==0.8.3
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
preshed==3.0.8
prompt-toolkit==3.0.33
protobuf==3.17.3
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycocotools==2.0.4
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.10.4
Pygments==2.13.0
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1666240235902/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==3.0.8
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857264451/work
python-dateutil==2.8.2
pytz==2021.3
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML==6.0
pyzmq==24.0.1
regex==2022.7.9
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0.2
scipy==1.7.1
seaborn==0.12.1
sentencepiece==0.1.96
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.5
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1667970813026/work/tensorboard-2.11.0-py3-none-any.whl
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1636045752429/work/tensorboard_data_server-0.6.0-py3-none-manylinux2010_x86_64.whl
tensorboard-logger==0.1.0
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
thinc==8.1.7
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.7.1
torch-tb-profiler==0.4.0
torchaudio==0.7.0a0+a853dff
torchtext==0.8.0
torchvision @ file:///tmp/build/80754af9/torchvision_1622219711511/work
tornado==6.2
tqdm==4.62.1
traitlets==5.5.0
transformers==4.25.1
typer==0.7.0
typing-extensions==4.4.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
wasabi==1.1.1
wcwidth==0.2.5
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1648966511831/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1666647772197/work
